name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            output_name: windows
            build_cmd: flutter build windows
            artifact_path: build/windows/x64/runner/Release
          - os: ubuntu-latest
            output_name: linux
            build_cmd: flutter build linux
            artifact_path: build/linux/x64/release/bundle

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

      - name: Get dependencies
        run: cd stellar_forge_flutter && flutter pub get

      - name: Build
        run: cd stellar_forge_flutter && ${{ matrix.build_cmd }}

      - name: Zip artifact
        shell: bash
        run: |
          cd stellar_forge_flutter/${{ matrix.artifact_path }}
          zip -r ../../../../stellar-forge-${{ matrix.output_name }}.zip .

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: stellar-forge-${{ matrix.output_name }}.zip
          asset_name: stellar-forge-${{ matrix.output_name }}.zip
          tag: ${{ github.ref }}
          overwrite: true
