name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        include:
          - os: windows-latest
            output_name: windows
            build_cmd: flutter build windows
            artifact_path: build/windows/x64/runner/Release

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get dependencies
        run: cd stellar_forge_flutter && flutter pub get

      - name: Build Windows
        run: cd stellar_forge_flutter && ${{ matrix.build_cmd }}

      - name: Zip Windows Build
        shell: pwsh
        run: |
          Compress-Archive -Path stellar_forge_flutter/${{ matrix.artifact_path }}/* -DestinationPath stellar-forge-windows.zip

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v1
        with:
          files: stellar-forge-windows.zip
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
